In [1]:
%matplotlib inline
from IPython.core.pylabtools import figsize
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import pymc3 as pm
import theano.tensor as tt
import arviz as az

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [3]:
challenger_data = np.genfromtxt("data/challenger_data.csv", skip_header=1,
                                usecols=[1, 2], missing_values="NA",
                                delimiter=",")
#drop the NA values
challenger_data = challenger_data[~np.isnan(challenger_data[:, 1])]
print(challenger_data[:10].T)  # <== print first 10 pairs of data

[[66. 70. 69. 68. 67. 72. 73. 70. 57. 63.]
 [ 0.  1.  0.  0.  0.  0.  0.  0.  1.  1.]]